.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333131;
    z-index: 999;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top: none; 
  }
  
  .navbar-icons {
    display: flex;
    justify-content: center;
    padding: 10px;
    justify-content:space-evenly;
  }
  
  .navbar-icon {
    cursor: pointer;
    margin-right: 20px;
    color: #36A546;
    font-size: 20px;
    width: 20px;
    transition: color 0.3s; /* Add transition for smooth effect */
}

.navbar-icon:hover {
    color: #ffffff; /* Change color on hover */
}

.selected {
  opacity: 0.5; /* Adjust the opacity as needed */
}